.mainHeader {
	background-color:black;
  padding: 50px 0 50px 0;
  margin-bottom: 20px;
}

h1 {
	font-weight: 700;
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

h3 {
	font-weight: 700;
}

.sidebar {
	background-color:#f3f3f3;
}

.calloutStyle {
background-color: black;
color: #fff;
font-size: 1.25rem;
}

.bigImage {
  padding: 2px;
  border: solid 1px #999;
  margin: 10px 0 10px 0;
}

.disclaimer {
  background-color: red;
  color: #fff;
  text-align: center;
  padding: 10px 0 0 0;
}